
stages:
  - release

release:
  image: node:20.11.0
  stage: release
  before_script:
    - npm i -g pnpm
  script:
    - pnpm install --frozen-lockfile
    - npx semantic-release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH