default:
  tags:
    - docker-dind

stages:
  - build
  - release

variables:
  DOCKER_TLS_CERTDIR: '/certs'

Build:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  except:
    - tags
  before_script:
    - docker info
    - echo -n $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    # fetches the latest image (not failing if image is not found)
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    # builds the project, passing proxy variables, using OCI labels
    # notice the cache-from, which is going to use the image we just pulled locally
    # the built image is tagged locally with the commit SHA, and then pushed to
    # the GitLab registry
    - >
      docker build
      --pull
      --build-arg http_proxy=$http_proxy
      --build-arg https_proxy=$https_proxy
      --build-arg no_proxy=$no_proxy
      --cache-from $CI_REGISTRY_IMAGE:latest
      --label "org.opencontainers.image.title=$CI_PROJECT_TITLE"
      --label "org.opencontainers.image.url=$CI_PROJECT_URL"
      --label "org.opencontainers.image.created=$CI_JOB_STARTED_AT"
      --label "org.opencontainers.image.revision=$CI_COMMIT_SHA"
      --label "org.opencontainers.image.version=$CI_COMMIT_REF_NAME"
      --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
      .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker image rm -f $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA

Build Advertise:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  except:
    - tags
  before_script:
    - docker info
    - echo -n $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    # fetches the latest advertise image (not failing if image is not found)
    - docker pull $CI_REGISTRY_IMAGE:latest-advertise || true
    # builds the project for advertise app, passing proxy variables, using OCI labels
    # notice the cache-from, which is going to use the image we just pulled locally
    # the built image is tagged locally with the commit SHA + advertise, and then pushed to
    # the GitLab registry
    - >
      docker build
      --pull
      --build-arg http_proxy=$http_proxy
      --build-arg https_proxy=$https_proxy
      --build-arg no_proxy=$no_proxy
      --cache-from $CI_REGISTRY_IMAGE:latest-advertise
      --label "org.opencontainers.image.title=$CI_PROJECT_TITLE-advertise"
      --label "org.opencontainers.image.url=$CI_PROJECT_URL"
      --label "org.opencontainers.image.created=$CI_JOB_STARTED_AT"
      --label "org.opencontainers.image.revision=$CI_COMMIT_SHA"
      --label "org.opencontainers.image.version=$CI_COMMIT_REF_NAME"
      --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-advertise
      --file Dockerfile.advertise
      .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-advertise
    - docker image rm -f $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-advertise

release:
  image: node:20.11.0
  stage: release
  before_script:
    - npm i -g pnpm
  script:
    - pnpm install --frozen-lockfile
    - npx semantic-release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
